<div class="card">
    <div class="card-header">
      <h3 class="card-title">Title</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      
      <button class="btn btn-success toast-button" data-title="Success Toast" data-subtitle="Subtitle" data-body=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero harum" data-class="bg-success">Show Success Toast</button>
      <button class="btn btn-info toast-button" data-title="Info Toast" data-subtitle="Subtitle" data-body=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero harum" data-class="bg-info">Show Info Toast</button>
      <button class="btn btn-danger toast-button" data-title="Delete Toast" data-subtitle="Subtitle" data-body=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero harum" data-class="bg-danger">Show Delete Toast</button>

     
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Footer
    </div>
    <!-- /.card-footer-->
  </div>